* {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 12px;
	margin: 2px;
}

#battle {
	width: 650px;
}

.unit_stack_list {
	border: 1px solid black;
	width: 100%;
	height: 100px;
	overflow: auto;
}

#battle_log {
	border: 1px solid black;
	width: 100%;
	height: 200px;
	overflow: auto;
	text-align: center;
}

#army_dialog {
	z-index: 2;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 250px;
	margin-left: -200px;
	margin-top: -125px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
}

#army_dialog_army_unit_list {
	overflow: auto;
	height: 90px;
}

#army_add_dialog {
	z-index: 3;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 120px;
	margin-left: -100px;
	margin-top: -60px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
}

#army_dialog_cost {
}

#army_dialog_upkeep {
}

.army_available_unit {
	display: inline-block;
	padding: 2px;
	margin: 2px;
}

.army_added_unit {
	border: solid 1px black;
}

.log_round_header {
	font-weight: bold;
}

.log_damage {}

.log_defeat {
	color: red;
}

#fullscreen_modal_background {
	z-index: 1;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: black;
	opacity: 0.5;
}